.navbar {
    position:fixed;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    background: rgb(0, 0, 0);
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 0;
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    padding-top: 60px;
    box-sizing: border-box;
    width:100%;
    max-width: 100%;
    z-index:1000;
    overflow: hidden;
    height: 70px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .navbar-logo {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    border-radius: 5px;
    margin-right: auto;
  }
  
  .nav-item {
    font-weight: bold;
    cursor: pointer;
    padding: 0 10px; 
    margin-right: 240px; 
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .navbar .nav-item:first-child {
    margin-right: 100; 
  }

  .navbar-title {
    text-decoration: none;
    color: #fffffff6;
  }
  
  .navbar-title:hover {
    color: #ff0000;
  }

  .navbar-links {
    
  list-style-type: none;
  display: flex;
  justify-content: space-evenly; 
  gap: 20px; 
  width: 100%;
  padding-bottom:13px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  }
  
  .navbar-links li {
    display: inline;
    text-align: center;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    font-weight: bold;
    .nav-links a {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    }
    
  }
  
  .navbar-links a:hover {
    color: rgb(244, 6, 6);
  }
  @media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .navbar-logo {
        font-size: 20px;
    }

    .nav-item {
        margin-right: 0; 
        padding: 5px 0; 
    }

    .navbar-links {
        flex-direction: column; 
        gap: 10px;
    }

    .navbar-links a {
        font-size: 16px; 
    }
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        padding: 20px;
    }

    .navbar-logo {
        font-size: 18px; 
    }

    .nav-item {
        padding: 5px 0; 
        margin-right: 0;
    }

    .navbar-links {
        flex-direction: column; 
        gap: 8px;
    }

    .navbar-links a {
        font-size: 14px;
    }
}