.voicebot-toggle-button {
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: fixed; 
  bottom: 20px; 
  left: 20px; 
  z-index: 1000;
  color: #fff; 
  background: linear-gradient(to right, #000000, #000000); 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.voicebot-toggle-button:hover {
  opacity: 0.8;
  background: linear-gradient(to right, #434343, #000000); 
}

  Copy.voicebot-container {
    background: transparent; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; 
    z-index: 2; 
  }

  
  
  h1 {
    color: #333;
  }
  
 