


.event-form {
  background: #077b4775;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}


input, textarea {
  width: 100%;
  padding: 15px;
  border: 1.75px solid #0b0707;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #fff;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  color: #333;
  transition: all 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #6a9fd0;
  outline: none;
  box-shadow: 0 0 5px rgba(106, 159, 208, 0.6);
}

textarea {
  min-height: 100px;
  resize: vertical;
}


button {
  padding: 15px 30px;
  border: none;
  background: linear-gradient(135deg, #044d2c, #1f5c3d);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: linear-gradient(135deg, #1f5c3d, #044d2c);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
  border: 2px solid #1f5c3d;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
